* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  height: 350px;
  border: 1px solid #543310;
  border-radius: 5px;
  text-align: center;
  padding: 20px 60px;
}

.heading {
  text-align: center;
  padding: 20px 0;
  color: #543310;
  font-weight: bold;
}

.form-container input[type="text"] {
  margin: 10px 0;
  height: 30px;
  width: 300px;
  padding: 10px;
  border: 1px solid #543310;
  border-radius: 2px;
}

.form-container input[type="text"]:focus {
  background-color: #f8f4e1;
  outline: 1px solid #543310;
}

.form-container input[type="submit"] {
  background-color: #543310;
  margin: 10px 0;
  color: #fff;
  font-size: 1.1rem;
  width: 300px;
  padding: 8px 0;
  border: none;
  border-radius: 3px;
}

.form-container input[type="submit"]:hover {
  cursor: pointer;
  background-color: #fff;
  color: #543310;
  border: 1px solid #543310;
  transition: 0.2s ease-in;
}

#result {
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
  color: #74512d;
}
